<div class="border-bottom fixed-top bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-7 offset-md-1">
        <nav class="navbar navbar-expand navbar-dark">
          <a class="navbar-brand text-uppercase" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              {{ if eq .Page.Kind "home" }}
              <a class="nav-link" href="#projects">Projects</a>
              {{ else }}
              <a class="nav-link" href="{{ .Site.BaseURL }}/#projects">Projects</a>
              {{ end }}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>