{{ define "main" }} {{ partial "single-nav.html" . }}
<div class="project-page">
	<div class="container">
		<section class="row align-items-center hero">
			{{ if .Params.image }}
			<div class="col-md-5 offset-md-1">
				{{ partial "content-hero.html" . }}
			</div>
			<div class="col-md-5">
				<img class="project-img reveal" src="{{ .Params.image }}" alt="{{ .Title }}">
			</div>
			{{ else }}
			<div class="col-md-10 offset-md-1">
				{{ partial "content-hero.html" . }}
			</div>
			{{ end }}
	</div>
	</section>
	<section class="info reveal">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					{{ with .Params.tags }}
					<ul class="list-inline">
						{{ range .}}
						<li class="badge badge-primary no-padding"><a class="tag-cta" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower  }}">{{ . }}</a></li>
						{{ end }}
					</ul>
					{{ end }}
					<article class="content">
						{{ .Content }}
					</article>
				</div>
			</div>
		</div>
	</section>
</div>
{{ end }}
