.btn-primary {
	@include button-variant($primary, $white, $white, $white, $white, $secondary);

	&.disabled,
	&:disabled {
		background-color: $gray-400;
		@include hover-focus-active {
		background-color: $gray-400;
		}
	}

	@include hover-focus-active {
		background-color: $white;
		color: $primary;
	}

	&:focus {
		box-shadow: 0 0 0 $input-btn-focus-width rgba($secondary, .5);
	}
}
