a {
	transition: background-color 0.3s, color 0.3s;
	position: relative;
	&:hover {
	  color: $primary;
	}
}

.cta-primary {
	border-bottom: solid 0.125rem $white;
	@include swiping-underline(0.1875rem, 0.1875rem, $white);
	&:hover {
		color: $white
	}
}

.text a {
	border-bottom: solid 0.125rem $white;
	@include swiping-underline(0.125rem, 0.125rem, $primary);
}
