//
// Scaffolding
// --------------------------------------------------
::selection {
	background-color: $primary;
	color: $white;
}

.page-margin {
	margin-top: 80px;
}

@include media-breakpoint-down(sm) {
	.page-margin {
		margin-top: 50px;
	}
}
